
MegaTravelClient/.vs/MegaTravelClient/v17/.suo
MegaTravelClient/.vs/MegaTravelClient/v17/.futdcache.v1
MegaTravelAPI/.vs/ProjectEvaluation/megatravelapi.projects.v2
MegaTravelAPI/.vs/ProjectEvaluation/megatravelapi.metadata.v2
MegaTravelAPI/.vs/MegaTravelAPI/v17/.suo
MegaTravelAPI/.vs/MegaTravelAPI/v17/.futdcache.v1
MegaTravelAPI/.vs/MegaTravelAPI/FileContentIndex/ffed6c8c-7319-4de7-b22a-14e392f230cb.vsidx
MegaTravelAPI/.vs/MegaTravelAPI/FileContentIndex/f119b824-e8fc-4456-abd5-35164a6d9550.vsidx
MegaTravelAPI/.vs/MegaTravelAPI/FileContentIndex/b6bebd63-d006-495f-b7b6-939c016795dc.vsidx
MegaTravelAPI/.vs/MegaTravelAPI/FileContentIndex/af6d5dfe-caa6-49dc-a774-68b1a4936900.vsidx
