
MegaTravelAPI/.vs/MegaTravelAPI/FileContentIndex/019c9e5d-f8da-48b5-ac2c-9a7b3e96fd15.vsidx
MegaTravelAPI/.vs/MegaTravelAPI/FileContentIndex/019c9e5d-f8da-48b5-ac2c-9a7b3e96fd15.vsidx
*.vsidx
MegaTravelAPI/.vs/MegaTravelAPI/config/applicationhost.config
MegaTravelAPI/.vs/MegaTravelAPI/config/applicationhost.config
MegaTravelAPI/.vs/MegaTravelAPI/DesignTimeBuild/.dtbcache.v2
*.vsidx
*.vsidx
*.v2
MegaTravelAPI/.vs/MegaTravelAPI/v17/.suo
*.v2
*.1
*.bin
*.v2
*.dll
*.exe
*.pdb
*.exe
*.cache
*.editorconfig
*.props
MegaTravelAPI/.vs/MegaTravelAPI/v17/.suo
MegaTravelClient/.vs/MegaTravelClient/DesignTimeBuild/.dtbcache.v2
MegaTravelClient/.vs/MegaTravelClient/v17/.suo
